In [1]:
#getting needed libraries
import pandas as pd

In [2]:
#reading the raw .HTML DB

DATA = pd.read_html('../raw data/income.html')
DATA

[                           Item This Month   Last Month  This Season  \
 0                    TV Revenue        Â£0          Â£0          Â£0
 1                Season Tickets        Â£0  Â£1,980,275  Â£1,980,275
 2                   Sponsorship        Â£0  Â£1,741,665  Â£1,741,665
 3           Solidarity Payments        Â£0          Â£0          Â£0
 4                   Prize Money        Â£0          Â£0          Â£0
 5                  Players Sold        Â£0          Â£0          Â£0
 6                         Other        Â£0    Â£105,000    Â£105,000
 7              Match Day Income        Â£0          Â£0          Â£0
 8                 Merchandising        Â£0          Â£0          Â£0
 9                   Investments        Â£0          Â£0          Â£0
 10                     Interest        Â£0          Â£0          Â£0
 11                Gate Receipts        Â£0          Â£0          Â£0
 12                       Grants        Â£0          Â£0          Â£0
 13                  Fundraising        Â£0          Â£0          Â£0
 14  Corporate Facilities Income        Â£0          Â£0          Â£0
 15               Affiliate Club        Â£0          Â£0          Â£0

    Last Season
 0          Â£0
 1          Â£0
 2          Â£0
 3          Â£0
 4          Â£0
 5          Â£0
 6          Â£0
 7          Â£0
 8          Â£0
 9          Â£0
 10         Â£0
 11         Â£0
 12         Â£0
 13         Â£0
 14         Â£0
 15         Â£0  ]

In [4]:
#changing this 'DATA' list object into a proper Pandas DataFrame
df = pd.concat(DATA)
df

,Item,This Month,Last Month,This Season,Last Season
0,TV Revenue,Â£0,Â£0,Â£0,Â£0
1,Season Tickets,Â£0,"Â£1,980,275","Â£1,980,275",Â£0
2,Sponsorship,Â£0,"Â£1,741,665","Â£1,741,665",Â£0
3,Solidarity Payments,Â£0,Â£0,Â£0,Â£0
4,Prize Money,Â£0,Â£0,Â£0,Â£0
5,Players Sold,Â£0,Â£0,Â£0,Â£0
6,Other,Â£0,"Â£105,000","Â£105,000",Â£0
7,Match Day Income,Â£0,Â£0,Â£0,Â£0
8,Merchandising,Â£0,Â£0,Â£0,Â£0
9,Investments,Â£0,Â£0,Â£0,Â£0
10,Interest,Â£0,Â£0,Â£0,Â£0
11,Gate Receipts,Â£0,Â£0,Â£0,Â£0
12,Grants,Â£0,Â£0,Â£0,Â£0
13,Fundraising,Â£0,Â£0,Â£0,Â£0
14,Corporate Facilities Income,Â£0,Â£0,Â£0,Â£0
15,Affiliate Club,Â£0,Â£0,Â£0,Â£0

In [5]:
#cleaning the numeric data columns of unnecessary characters
cols_to_clean = ['This Month',
                'Last Month',
                'This Season',
                'Last Season'
                ]

for col in df.columns:
    df[col] = df[col].str.replace('Â£', '')
df

                           Item This Month Last Month This Season Last Season
0                    TV Revenue          0          0           0           0
1                Season Tickets          0  1,980,275   1,980,275           0
2                   Sponsorship          0  1,741,665   1,741,665           0
3           Solidarity Payments          0          0           0           0
4                   Prize Money          0          0           0           0
5                  Players Sold          0          0           0           0
6                         Other          0    105,000     105,000           0
7              Match Day Income          0          0           0           0
8                 Merchandising          0          0           0           0
9                   Investments          0          0           0           0
10                     Interest          0          0           0           0
11                Gate Receipts          0          0           0           0
12                       Grants          0          0           0           0
13                  Fundraising          0          0           0           0
14  Corporate Facilities Income          0          0           0           0
15               Affiliate Club          0          0           0           0

In [6]:
#getting rid of the comma in the numeric data columns

for col in df.columns:
    df[col] = df[col].str.replace(',','')
df

                           Item This Month Last Month This Season Last Season
0                    TV Revenue          0          0           0           0
1                Season Tickets          0    1980275     1980275           0
2                   Sponsorship          0    1741665     1741665           0
3           Solidarity Payments          0          0           0           0
4                   Prize Money          0          0           0           0
5                  Players Sold          0          0           0           0
6                         Other          0     105000      105000           0
7              Match Day Income          0          0           0           0
8                 Merchandising          0          0           0           0
9                   Investments          0          0           0           0
10                     Interest          0          0           0           0
11                Gate Receipts          0          0           0           0
12                       Grants          0          0           0           0
13                  Fundraising          0          0           0           0
14  Corporate Facilities Income          0          0           0           0
15               Affiliate Club          0          0           0           0

In [7]:
#adding a date column in the dataframe
date = '6/28/2021'

df['Date'] = date

In [9]:
#renaming the 'Item' column for better understaning

df.rename(columns={'Item':'Source'}, inplace=True)
df

,Source,This Month,Last Month,This Season,Last Season,Date
0,TV Revenue,0,0,0,0,6/28/2021
1,Season Tickets,0,1980275,1980275,0,6/28/2021
2,Sponsorship,0,1741665,1741665,0,6/28/2021
3,Solidarity Payments,0,0,0,0,6/28/2021
4,Prize Money,0,0,0,0,6/28/2021
5,Players Sold,0,0,0,0,6/28/2021
6,Other,0,105000,105000,0,6/28/2021
7,Match Day Income,0,0,0,0,6/28/2021
8,Merchandising,0,0,0,0,6/28/2021
9,Investments,0,0,0,0,6/28/2021
10,Interest,0,0,0,0,6/28/2021
11,Gate Receipts,0,0,0,0,6/28/2021
12,Grants,0,0,0,0,6/28/2021
13,Fundraising,0,0,0,0,6/28/2021
14,Corporate Facilities Income,0,0,0,0,6/28/2021
15,Affiliate Club,0,0,0,0,6/28/2021

In [10]:
df.to_csv('../treated data/income.csv', index=False)