In [1]:
#importing needed libraries

import pandas as pd

In [6]:
#getting the players.csv

df = pd.read_csv('../treated data/players.csv')
df.head(5)

,Unnamed: 0,UID,Name,Nat,Age,Position,Height,Weight,2nd Nat,Preferred Foot
0,0,29087736,Matt Macey,ENG,26,GK,205 cm,85 kg,NaN,Either
1,1,61013783,David Mitchell,SCO,31,GK,183 cm,84 kg,NaN,Right Only
2,2,96075402,Kevin Dąbrowski,POL,23,GK,197 cm,81 kg,NaN,Right
3,3,5207982,Darren McGregor,SCO,35,D (C),183 cm,88 kg,NaN,Right
4,4,61003672,Paul Hanlon,SCO,31,D (C),180 cm,70 kg,NaN,Left

In [10]:
#removing the 'cm' and 'kg' sufix from the columns Height and Weight
df['Height'] = df['Height'].str.replace(" cm", "")
df['Weight'] = df['Weight'].str.replace(' kg', '')
df.head(6)

,Unnamed: 0,UID,Name,Nat,Age,Position,Height,Weight,2nd Nat,Preferred Foot
0,0,29087736,Matt Macey,ENG,26,GK,205,85,NaN,Either
1,1,61013783,David Mitchell,SCO,31,GK,183,84,NaN,Right Only
2,2,96075402,Kevin Dąbrowski,POL,23,GK,197,81,NaN,Right
3,3,5207982,Darren McGregor,SCO,35,D (C),183,88,NaN,Right
4,4,61003672,Paul Hanlon,SCO,31,D (C),180,70,NaN,Left
5,5,61077396,Ryan Porteous,SCO,22,D (C),188,75,NaN,Right

In [14]:
#getting rid of this column that popped from god knows where
del df['Unnamed: 0']

KeyError: 'Unnamed: 0'

In [17]:
#saving the changes into the .csv file again
df.to_csv('../treated data/players.csv')